@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

// Variables
 
$priColor: #FFD700;

// General 

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// Header

header {
    width: 100%;
    border-bottom: 2px solid $priColor;
}

.navbar {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        height: 100px;
        width: 100px;
    }
}

.navbar-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    border-bottom: 2px solid $priColor;

    li {
        list-style: none;

        a {
            font-size: 1.6rem;
            font-family: Raleway;
            text-decoration: none;
            text-shadow: 2px 2px black;
            color: #fff;
            text-shadow: 0 0 10px black;
            padding: 5px;
            border-radius: 10px;
        }

        a:hover {
            background-color: $priColor;
            color: black;
            transition: ease-in .4s;
            cursor: pointer;
        }    
    }
}

.hero {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 11px ), repeating-linear-gradient( #67651755, #676517 );
}

.hero-title {
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
        font-size: 3.5rem;
        font-family: Monoton;
        font-weight: 200;
        color: $priColor;
        text-shadow: 2px px black;
    }

    p {
        font-size: 1.5rem;
        font-family: Raleway;
    }
}

.hero-video {
    margin-top: 40px;
    
    video {
        width: 400px;
        padding: 0px;
        border: 7px  goldenrod;
        border-style: groove;
        box-shadow: 0 0 10px white; 
    }
}

.hero-phrase {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;

    p {
        color: blanchedalmond;
        font-size: 1.7rem;
        font-family: Raleway;
        padding: 10px 10px;
        text-align: center;
        text-shadow: 1px 1px black;
    }
}

// Sección Servicios

.services-container {
    width: 100%;
    // height: 100vh;
    background-color: #000000;
    opacity: 0.8;
    background-image: radial-gradient(#676517 0.55px, #000000 0.55px);
    background-size: 11px 11px;
    border-bottom: 2px solid $priColor;
}

.services-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        padding: 1.5rem;
        padding-bottom: 0px;
        font-size: 2.2rem;
        font-family: Raleway;
        font-weight: 400;
        color: $priColor;
        text-shadow: 1px 1px white;
    }

    p {
        padding: 1.5rem;
        color: white;
        font-size: 1.2rem;
        font-family: Raleway;
        text-shadow: 2px 2px black;
    }
}


.services-img {
    padding: 1rem 2rem 0rem 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    img {
        height: 60px;
        width: 60px;
    }

    img:hover {
        filter: invert(100%);
        transform: scaleX(-1);
    }
}

.services-guarantee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;

    p {
        color: gray;
        font-size: 1.7rem;
        font-family: Raleway;
        padding: 10px 10px;
        // text-shadow: 1px 1px white;
    }

    img {
        height: 100px;
        width: 100px;
    }
}

.dj {
    display: none;
}

// Sección Eventos

.events-container {
    width: 100%;
    background-color: #323232;
    opacity: 1;
    background-image: linear-gradient(0deg, #323232 50%, #676517 50%);
    background-size: 10px 10px;
    border-bottom: 2px solid $priColor;
}

.events-titles {
    display: flex;
    justify-content: center;
    width: 100%;
    
        h2 {
            padding: 1.5rem;
            padding-bottom: 0px;
            font-size: 2.5rem;
            font-family: Raleway;
            font-weight: 400;
            color: $priColor;
            text-shadow: 1px 1px white;
        }
}

.container {
	width: 100%;
	height: 55vh;
}

.trans {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.top {
	display: flex;
	width: 90vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}
.top ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li
{
	position: relative;
	float: left;
	width: 33.3%;
	height: 11%;
	overflow: hidden;
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

// Sección contacto 

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    // height: 100vh;
    // clear:both;
    width: 100%;
    background-color: #323232;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #323232 20%, #323232 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #323232 20%, #323232 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#676517 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #676517 2px, #323232 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    border-bottom: 2px solid $priColor;
}

.contact-titles {
    display: flex;
    justify-content: center;
    width: 100%;
    
        h2 {
            padding: 1.5rem;
            // padding-bottom: 0px;
            font-size: 2.5rem;
            font-family: Raleway;
            font-weight: 400;
            color: $priColor;
            text-shadow: 1px 1px white;
        }
}

.contact-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form {
    border-radius: 10%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px black;
    background-color: #676517;
    // opacity: 1;
    background-image: radial-gradient(circle at center center, #323232, #676517), repeating-radial-gradient(circle at center center, #323232, #323232, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0.5rem;

        input {
            border-radius: 5rem;
            height: 2rem;
            width: 80%;
            background-color: none;
            border: none;
            border: #FFD700 1px solid;
        }

        textarea {
            width: 80%;
            border: none;
            border-radius: 5%;
            margin-bottom: 1rem;
            border: #FFD700 1px solid;
        }

        label {
            font-family: Raleway;
            padding-bottom: 0.4rem;
            font-size: 1.5rem;
            color: white;
            text-shadow: 1px 1px $priColor;
        }
    }

    button {
        cursor: pointer;
        padding: 10px 20px;
        margin-bottom: 1rem;
        border-radius: 3rem;
        border: none;
        font-family: Raleway;
        font-size: 1.2rem;
        color: black;
        font-weight: 600;
        text-shadow: 1px 1px white;
        background-color: $priColor;
    }

    button:hover {
        background-color: #14213d;
        box-shadow: none;
        color: #fff;
        text-shadow: 1px 1px $priColor;
    }
}

// Footer

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000;
}
  
.footer-media {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-top: 1.2rem;
        font-family: Raleway;
        font-weight: 400;
        color: white;
        text-shadow: 1px 1px $priColor;
    }

    P {
        padding-top: 0.4rem;
        padding-bottom: 0.7rem;
        font-family: Raleway;
        font-weight: 400;
        color: white;
        text-shadow: 1px 1px $priColor;
    }
}

.media-img {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem;

    img {
        height: 45px;
    }
}

.footer-copyright {
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      p{ 
        color: gray;
        opacity: 50%;
        font-size: 1rem
      }
}

.footer-map {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map {
    width: 350px;
    height: 250px;
}

// Media Queries

@media (max-width:375px) {
    .hero-title {
        // margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    
        h1 {
            font-size: 3rem;
            font-family: Monoton;
            font-weight: 200;
            color: $priColor;
            text-shadow: 2px px black;
        }
    
        p {
            font-size: 1.5rem;
            font-family: Raleway;
        }
    }    

    .hero-video {
        video {
            width: 310px;
            padding: 0px;
            border: 7px  goldenrod;
            border-style: groove;
            box-shadow: 0 0 10px white; 
        }
    }

    .services-guarantee {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 30px;
    
        p {
            color: gray;
            font-size: 1.3rem;
            font-family: Raleway;
            padding: 10px 10px;
            // text-shadow: 1px 1px white;
        }
    }

    .map {
        width: 300px;
        height: 220px;
    }

    .footer-copyright {
        p{ 
          color: gray;
          opacity: 50%;
          font-size: 0.8rem
        }
  }
}

@media (min-width:768px) {
    .navbar {
        display: grid;
        grid-template-columns: 30% 60%;
        border-bottom: 2px solid $priColor;
        align-items: center;
    }
    
    .navbar-list {
        display: flex;
        align-items: center;
        border-bottom: none;
        padding-bottom: 0px;
    } 
    
    .footer {
        width: 100%;
        // height: 400px;
        background-color: #000;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 70% 30%;
        grid-template-areas:
        "media map"
        "copyright copyright";
    }

    .footer-media {
        grid-area: media;
        align-self: center;
    }
    
    
    .footer-copyright {
       grid-area: copyright;
    }
    
    .footer-map {
        grid-area: map;
    }

    .map {
        padding-top:1.2rem;
        width: 400px;
        height: 220px;
    }
}

@media (min-width:1024px) {
    .navbar {
        display: grid;
        grid-template-columns: 15% 35% 45%;
        grid-template-areas: 
        "logo none navbar";
        border-bottom: 2px solid $priColor;
        align-items: center;
    }

    .navbar-list {
        grid-area: navbar;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        // height: 400px;
        background-color: #000;
    }
}

@media (min-width:1440px) {
    .services-box {
        margin-top: 3%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,33%);
        grid-template-areas: 
        "1 dj"
        "2 dj"
        "3 dj";
    
        p {
            grid-area: 1;
            padding: 1.5rem;
            color: white;
            font-size: 1.7rem;
            font-family: Raleway;
            text-shadow: 2px 2px black;
        }
    }

    .services-titles{
        p{
            display: none;
        }
    }
    
    .services-img {
        grid-area: 3;
        padding: 1rem 2rem 0rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    
        img {
            height: 60px;
            width: 60px;
        }
    
        img:hover {
            filter: invert(100%);
            transform: scaleX(-1);
        }
    }
    
    .services-guarantee {
        grid-area: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 30px;
    
        p {
            color: gray;
            font-size: 1.7rem;
            font-family: Raleway;
            padding: 10px 10px;
            // text-shadow: 1px 1px white;
        }
    
        img {
            height: 100px;
            width: 100px;
        }
    }
    
    .dj {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start ;
        grid-area: dj;
    
        img{
            border-radius: 80%;
            height: 95%;
            width: 100%;
            opacity: 30%;
        }
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    .top {
        width: 90vw;
        height: 100vh;
    }

    .top ul {
        width: 100%;
        height: 100%;
    }
    
    .top ul li
    {
        position: relative;
        float: left;
        width: 20%;
        height: 25%;
        overflow: hidden;
    }

    .footer {
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 70% 30%;
        grid-template-areas:
        "media none map"
        "copyright copyright copyright";
    }
}