@font-face {
    font-family: GrapeNuts;
    src: url(fonts/GrapeNuts-Regular.ttf);
}

@font-face {
    font-family: Nanum;
    src: url(fonts/NanumMyeongjo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='50' height='50' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='%232d3748'/%3E%3Ccircle cx='34' cy='20' r='4' fill='rgba(74, 85, 104,1)'/%3E%3Ccircle cx='6' cy='20' r='4' fill='rgba(74, 85, 104,1)'/%3E%3Ccircle cx='20' cy='34' r='4' fill='rgba(74, 85, 104,1)'/%3E%3Ccircle cx='20' cy='6' r='4' fill='rgba(74, 85, 104,1)'/%3E%3Ccircle cx='34' cy='6' r='4' fill='rgba(26, 32, 44,1)'/%3E%3Ccircle cx='6' cy='34' r='4' fill='rgba(26, 32, 44,1)'/%3E%3Ccircle cx='34' cy='34' r='4' fill='rgba(26, 32, 44,1)'/%3E%3Ccircle cx='6' cy='6' r='4' fill='rgba(26, 32, 44,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.headerBox {
    display: flex;
    width: 100%;
    background-color: black;
    border-bottom: 4px solid #ffcc00;
}

.logoHeader {
    width: 100px;
    margin-left: 30px;
}

.navFlex {
    display: flex;
    width: 100%;
}

/* Para poner div horizontal creo que es necesario hacerlo con grid */

.listFlex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    display: flex;
    width: 100%;
    list-style-type: none;
}

.listFlex li {
    margin-right: 70px;
    font-size: 30px;
}

.listFlex li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gold;
    text-decoration: none;
}

.listFlex li a:hover {
    text-shadow: 0 0 2px white;
}


/* Main  */

/* Area 1-box */

.area1box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
}

/* Section 1 */

.section1 {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: row;
    margin-top: 100px;
}

.article1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.article1 p {
    color: white;
    font-size: 50px;
    font-family: grapenuts;
    font-weight: bold;
    text-shadow: 0 0 20px black;
}

.article1 h1 {
    font-size: 90px;
    color: gold;
    text-shadow: 0 0 10px black;
    font-family: Nanum;
    margin-top: 80px;
}


.article2 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#videoArticle {
    width: 515px;
    height: 297px;
    border: 7px  goldenrod;
    border-style: groove;
    box-shadow: 0 0 10px white;    /* box-shadow: 1 1 100px black; */
}

/* Section 2 */

.section2 {
    display: flex;
    width: 100%;
    height: 25%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section2 p {
    width: 70%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 0 0 20px black;
} 

#inolvidable {
    color: gold;
}

#garantiaIcon {
    margin-top: 50px;
    width: 150px;
}

/* Section 3 */

.section3 {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.section3 p {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 30px;
    font-size: 30px;
}

/* Area 2-box Nuestros servicios */

.area2box {
    display: flex;
    width: 100%;
    height: 750px;
    justify-content: space-around;
    padding-top: 400px;
    flex-wrap: wrap;
}

.section1_1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1_1 p {
    padding-top: 40px;
    width: 90%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 0 0 20px black;
    padding-bottom: 90px;
}

.section1_1 h2 {
    font-size: 90px;
    color: gold;
    text-shadow: 0 0 10px black;
    font-family: Nanum;
}

.section2_1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.area2box img {
    height: 150px;
}

.area2box img:hover {
    filter: invert(100%);
    transform: scaleX(-1);
}

/* Area 3-box Eventos */

.area3box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 700px;
}

.area3box h2 {
    margin-top: 700px;
    font-size: 90px;
    color: gold;
    text-shadow: 0 0 10px black;
    font-family: Nanum;
}


/* Gallery image */

.container
{
	width: 100%;
	height: 100%;
}
.trans
{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top
{
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}
.top ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li
{
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
	overflow: hidden;
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

/* Area 4-box contacto */

.area4box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formContainer {
    margin-top: 40px;
    width: 50%;
    height: 600px;
    background-color: gold;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}

/* Footer  */

.footerBox {
    display: flex;
    background-color: black;
    width: 100%;
    height: 400px;
    margin-top: 1300px;
    border-top: 4px solid #ffcc00;
}

