@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

// Variables
 
$priColor: #FFD700;

// General 

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	// height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


// Header

header {
    width: 100%;
}

.navbar {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        height: 100px;
        width: 100px;
    }
}

.navbar-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    border-bottom: 2px solid $priColor;

    li {
        list-style: none;

        a {
            font-size: 1.6rem;
            font-family: Raleway;
            text-decoration: none;
            text-shadow: 2px 2px black;
            color: #fff;
            text-shadow: 0 0 10px black;
            padding: 5px;
            border-radius: 10px;
        }

        a:hover {
            background-color: $priColor;
            color: black;
            transition: ease-in .4s;
            cursor: pointer;
        }    
    }
}

.hero {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
        font-size: 3.5rem;
        font-family: Monoton;
        font-weight: 200;
        color: $priColor;
        text-shadow: 2px px black;
    }

    p {
        font-size: 1.5rem;
        font-family: Raleway;
    }
}

.hero-video {
    margin-top: 40px;
    
    video {
        width: 400px;
        padding: 0px;
        border: 7px  goldenrod;
        border-style: groove;
        box-shadow: 0 0 10px white; 
    }
}

.hero-phrase {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;

    p {
        color: blanchedalmond;
        font-size: 1.7rem;
        font-family: Raleway;
        padding: 10px 10px;
        text-align: center;
        text-shadow: 1px 1px black;
    }
}

// Sección Servicios

.services-container {
    width: 100%;
    // height: 100vh;
    // background-color: white;
    // opacity: 0.8;
    // background-size: 10px 10px;
    // background-image: repeating-linear-gradient(45deg, #323232 0, #323232 1px, #676517 0, #676517 50%);
}

.services-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        padding: 1.5rem;
        padding-bottom: 0px;
        font-size: 2.2rem;
        font-family: Monoton;
        font-weight: 100;
        color: $priColor;
        text-shadow: 1px 1px black;
        text-align: center;
        // letter-spacing: 0.3rem;
    }

    p {
        padding: 1.5rem;
        color: white;
        font-size: 1.2rem;
        font-family: Raleway;
        text-shadow: 2px 2px black;
        text-align: center;
    }
}


.services-img {
    padding: 1rem 2rem 0rem 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    img {
        height: 60px;
        width: 60px;
    }

    img:hover {
        filter: invert(100%);
        transform: scaleX(-1);
    }
}

.services-guarantee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;

    p {
        color: gray;
        font-size: 1.7rem;
        font-family: Raleway;
        padding: 10px 10px;
        // text-shadow: 1px 1px white;
    }

    img {
        height: 100px;
        width: 100px;
    }
}

.dj {
    display: none;
}

// Sección Eventos

.events-container {
    width: 100%;
    // background-color: white;
    // opacity: 1;
    // background-image: radial-gradient(#676517 0.55px, #000000 0.55px);
    // background-size: 11px 11px;
}

.events-titles {
    display: flex;
    justify-content: center;
    width: 100%;
    
        h2 {
            padding: 1.5rem;
            padding-bottom: 0px;
            font-size: 2.2rem;
            font-family: Monoton;
            font-weight: 100;
            color: $priColor;
            text-shadow: 1px 1px black;
        }
}

.container {
	width: 100%;
	height: 55vh;
}

.trans {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.top {
	display: flex;
	width: 90vw;
	height: 80vh;
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
}
.top ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li
{
	position: relative;
	float: left;
	width: 33.3%;
	height: 11%;
	overflow: hidden;
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

// Sección contacto 

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    // height: 100vh;
    // clear:both;
    width: 100%;
    // background-color: #323232;
    // opacity: 1;
    // background-image: radial-gradient(#676517 0.55px, #000000 0.55px);
    // background-size: 11px 11px;
    // border-bottom: 2px solid $priColor;
}

.contact-titles {
    display: flex;
    justify-content: center;
    width: 100%;
    
        h2 {
            padding: 1.5rem;
            font-size: 2.2rem;
            font-family: Monoton;
            font-weight: 100;
            color: $priColor;
            text-shadow: 1px 1px black;
        }
}

.contact-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
}

.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
  
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        var(--primary-color),
        transparent
      );
      transform: translateX(-100%);
      transition: 0.6s;
    }
  
    &:hover {
      background: transparent;
      box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
  
      &::before {
        transform: translateX(100%);
      }
    }
  }
  
  .form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
    
    input {
      color: white;
    }
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  
    h1 {
      margin: 0 0 24px 0;
    }
  
    .form-input-material {
      margin: 12px 0;
    }
  
    .btn {
      width: 100%;
      margin: 18px 0 9px 0;
    }
  }

// Footer

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000;
    border-top: 2px solid $priColor;

}
  
.footer-media {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-top: 1.2rem;
        font-family: Raleway;
        font-weight: 400;
        color: white;
        text-shadow: 1px 1px $priColor;
    }

    P {
        padding-top: 0.4rem;
        padding-bottom: 0.7rem;
        font-family: Raleway;
        font-weight: 400;
        color: white;
        text-shadow: 1px 1px $priColor;
    }
}

.media-img {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem;

    img {
        height: 45px;
    }
}

.footer-copyright {
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      p{ 
        color: gray;
        opacity: 50%;
        font-size: 1rem
      }
}

.footer-map {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map {
    width: 350px;
    height: 250px;
}

// Media Queries

@media (max-width:375px) {
    .hero-title {
        // margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    
        h1 {
            font-size: 3rem;
            font-family: Monoton;
            font-weight: 200;
            color: $priColor;
            text-shadow: 2px px black;
        }
    
        p {
            font-size: 1.5rem;
            font-family: Raleway;
        }
    }    

    .hero-video {
        video {
            width: 310px;
            padding: 0px;
            border: 7px  goldenrod;
            border-style: groove;
            box-shadow: 0 0 10px white; 
        }
    }

    .services-guarantee {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 30px;
    
        p {
            color: gray;
            font-size: 1.3rem;
            font-family: Raleway;
            padding: 10px 10px;
            // text-shadow: 1px 1px white;
        }
    }

    .map {
        width: 300px;
        height: 220px;
    }

    .footer-copyright {
        p{ 
          color: gray;
          opacity: 50%;
          font-size: 0.8rem
        }
  }
}

@media (min-width:768px) {
    .navbar {
        display: grid;
        grid-template-columns: 30% 60%;
        border-bottom: 2px solid $priColor;
        align-items: center;
    }
    
    .navbar-list {
        display: flex;
        align-items: center;
        border-bottom: none;
        padding-bottom: 0px;
    } 
    
    .footer {
        width: 100%;
        // height: 400px;
        background-color: #000;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 70% 30%;
        grid-template-areas:
        "media map"
        "copyright copyright";
    }

    .footer-media {
        grid-area: media;
        align-self: center;
    }
    
    
    .footer-copyright {
       grid-area: copyright;
    }
    
    .footer-map {
        grid-area: map;
    }

    .map {
        padding-top:1.2rem;
        width: 400px;
        height: 220px;
    }
}

@media (min-width:1024px) {
    .navbar {
        display: grid;
        grid-template-columns: 15% 35% 45%;
        grid-template-areas: 
        "logo none navbar";
        border-bottom: 2px solid $priColor;
        align-items: center;
    }

    .navbar-list {
        grid-area: navbar;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        // height: 400px;
        background-color: #000;
    }
}

@media (min-width:1440px) {
    .services-box {
        margin-top: 3%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,33%);
        grid-template-areas: 
        "1 dj"
        "2 dj"
        "3 dj";
    
        p {
            grid-area: 1;
            padding: 1.5rem;
            color: white;
            font-size: 1.7rem;
            font-family: Raleway;
            text-shadow: 2px 2px black;
        }
    }

    
    .services-img {
        grid-area: 3;
        padding: 1rem 2rem 0rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    
        img {
            height: 60px;
            width: 60px;
        }
    
        img:hover {
            filter: invert(100%);
            transform: scaleX(-1);
        }
    }
    
    .services-guarantee {
        grid-area: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 30px;
    
        p {
            color: gray;
            font-size: 1.7rem;
            font-family: Raleway;
            padding: 10px 10px;
            // text-shadow: 1px 1px white;
        }
    
        img {
            height: 100px;
            width: 100px;
        }
    }
    
    .dj {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start ;
        grid-area: dj;
    
        img{
            border-radius: 80%;
            height: 95%;
            width: 100%;
            opacity: 30%;
        }
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    .top {
        width: 90vw;
        height: 100vh;
    }

    .top ul {
        width: 100%;
        height: 100%;
    }
    
    .top ul li
    {
        position: relative;
        float: left;
        width: 20%;
        height: 25%;
        overflow: hidden;
    }

    .footer {
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 70% 30%;
        grid-template-areas:
        "media none map"
        "copyright copyright copyright";
    }
}